body{
    margin: 0;
    padding: 0;
    background-color: #e0f2f1;
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
}

header{
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
}

h1{
    text-align: center;
    font-size: 35PX;
}

.icones{
    display: flex;
    position: absolute;
    top: 10%;
    right: 30px;
    cursor: pointer;
    gap: 15px;
}

.pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
     position: relative;
     border-radius: 25px;
}

.pesquisar input{
    background-color: #ffffff;
    border: none;
    border-radius: 25px;
    padding: 10px 50px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}


hr{
    width: 100%;
    border: 3px solid #0a0a0a;
}

p{
    font-weight: bold;
    font-size: 11px;
}