/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .profile-container {
    width: 100%;
    max-width: 500px;
    background: #e7f4f4;
    border-radius: 19px;
    padding: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .profile-avatar {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-right: 15px;
  }
  
  .profile-info h2 {
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .profile-info p {
    margin: 0;
    color: #555;
    font-size: 1rem;
    text-align: center;
  }
  
  .profile-sections {
    margin-top: 10px;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .icon {
    font-size: 1.5rem;
    color: black; 
    filter: grayscale(100%);
  }
  
  .edit-button {
    background-color: #919191;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #c6cace;
  }
  
  @media(max-width: 450px){
    body{
        display: flex;
        background-color: #f0f8f8;
    }

  }